body{
    background-color: rgb(255, 148, 8);
}
h1{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px 20px 20px ;
}
p{
    text-align: center;
}


ul{
    list-style: none;
}

li{
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.botao1{
    position: absolute;
    left: 870px;
    top: 75%;
}

.botao2{
    position: absolute;
    left: 45%;
    top: 83%;
}

.img1{
    position: relative;
    left: -1px;
}


.img2{
    position: relative;
    left: 58%;
    bottom: -10px;
}

h2{
    text-align: center;
    font-size: 80px;
   


}

p{
   text-align: center;
   font-size: 30px;
}


